html{

    scroll-behavior: smooth;

}

h1, h2, p{

    color: white;

}

h2{

    font-size: 30px;
    text-align: center;
}

p{
    
    color: #757575;
    font-size: 14px;
}

body{

    background-color: white;

}

header{

    position: absolute;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 1000;

    img{

        height: 5vh;

    }

}

main{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero{

    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1750698544932-c7471990f1ca?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxneW0lMjB3b3Jrb3V0JTIwZml0bmVzc3xlbnwxfHx8fDE3NjgxNTk2ODl8MA&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .overlay{

        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        p{

            text-align: center;

        }

        .buttons{

            display: flex;
            flex-direction: column;
            width: 90%;
            gap: 10px;
            
        }
        
        a{
            
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5vh;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 20px;
            width: 100%;
            color: white;  
 
        }
        
        .start{
    
            background-color: #FB8C00;
            border: none;
        }
        
        .destaque{
    
            color: #FFA726;
    
        }
    }
}    

.FitZone{

    background-color: #FAFAFA;
    padding: 100px 0px;
    width: 100%;
    gap: 30px;

    h2{

        color: black;
        width: 90%;
    }

    p{
        width: 90%;

    }

    .cards{

        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 30px;

    }

    .card{

        background-color: white;
        height: 20vh;
        border-radius: 10px;
        box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.3);
        width: 100%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 10px;

    }

    .icon{

        height: 15%;
        background-color: #FFE0B2;
        padding: 10px;
        border-radius: 50%;
    }

}

.services{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    gap: 30px;

    h2{

        color: black;

    }

    p{

        width: 90%;

    }

    .all-services{

        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .service{

        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        width: 100%;
        height: 40vh;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        
        .service-img{
            
            width: 100%;
            height: 60%;
            object-fit: cover;
            object-position: center;
        }

        h3{

            align-self: flex-start;
            padding-left: 20px
        }
    }
}

.planos{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;

    h2{

        color: black;

    }

    .all-planos{

        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .plano{

        width: 100%;
        height: 40vh;
        border-radius: 10px;
        box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        h3{
            
            font-size: 20px;

        }

        .price{

            display: flex;

            h3{

                font-size: 40px;

            }
        }

        ul{

            font-size: 18px;
            
            img{

                height: 10px;
                padding-right: 10px;
            }
        }
    }

}

.contato{

    height: 50vh;
    background-color: #EF6C00;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
    gap: 20px;

    h2{

        width: 90%;

    }

    p{

        color: white;
        width: 90%;
        text-align: center;
    }

    img{

        height: 30px

    };

    .ctt-button{

        display: flex;
        background-color: #4CAF50;
        text-decoration: none;
        align-items: center;
        padding: 10px 30px;
        border-radius: 30px;
        gap: 10px;
    }

    .sub{

        font-size: 10px;

    }
}
